

#body_main{
    background-color: white;
    text-align: center;
 
}

.pos_cen{
    background-color: skyblue;
    height: 140px;
    border-radius: 1.5rem;
}

img{
    float: left;
    width: 7%;
    padding-left: 20px;
    padding-top: 10px;
    height: 120px;
    
}

#h1{
    text-align: center;
    font-size: 300%;
}


.container {
    Width: 100%;
    height: 10vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: skyblue;
    border-radius: 1.5rem;
   
}

#menupart1{
    width: 30%;
    text-align: center;
   }
#menupart2{
    width: 70%;   
    text-align: center;
    border-collapse: collapse;
   }

#menupart1 .btn:hover{
    color: orange;
}


.btn{
    height: 7vmin;
    width: 15vmin;
    border-radius: 1rem;
    box-shadow: black;
    color: black;
    padding: 5px;
    background-color: blue;
    grid-area: auto;
    margin-left: 20px;
 }
 
.btn2{
    background-color: none;
 }

 #mn{
    justify-content: right;
    
    border-radius: 1.5rem;
    padding: 10px;
    height: 7vmin;
    width: 18vmin;
}

.structure{
    width: 100%;
}

.data1{
    width: 30%;
    text-align: center;
    padding-left: 20px;
    padding-top: 100px;
   
}

.data2{
    width: 800px; 
    height: 380px;
    position: absolute;
    left: 550px;
    top: 230px;
    text-align: center;
    justify-content: right;
}
#body_main
{
    width: 100%;
}

 h3{
    background-color: skyblue;
    height: 30px;
   
    text-align: center;
}

table, tr, td, th{
    border: 1px solid black;
    border-collapse: collapse;
}

table{
    width: 100%;
    height: 15%;
    text-align: center;
}

#color{
    background-color: skyblue;
}

.calculate{
    height: 7vmin;
    width: 20vmin;
    border-radius: 1rem;
    box-shadow: black;
    color: black;
    padding: 5px;
    background-color: blue;
    grid-area: auto;
    margin-left: 20px;
    text-align: center;
    font-size: 120%;
}
.clear{
    height: 7vmin;
    width: 20vmin;
    border-radius: 1rem;
    box-shadow: black;
    color: black;
    padding: 5px;
    background-color: blue;
    grid-area: auto;
    margin-left: 50px;
    text-align: center;
    font-size: 120%;
}



