
#body_main{
    background-color: white;
    text-align: center;
 
}

.pos_cen{
    display: block;
    width: 100%;
    height: 100px;
    border-radius: 1.5rem;
   
}

img{
    float: left;
    width:8%;
    padding-left: 50px;
    padding-bottom: 10px;
    height: 100px;
    padding-top: 10px;

}

#btn{
    float: right;
    padding-top: 50%;
}



#h1{
    text-align: center;
    font-size: 250%;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-right: 50px;
    font-style: unset;
    color: rgb(129,88,223);
}


.container {
    padding-top: 30px;
    Width: 100%;
    /* height: 10vmin; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.menu{
    width: 100%;
    /* height: 10px; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

#menupart1{
    width: 40%;
    text-align: center;
    /* padding-top: 100px; */
   }
#menupart2{
    width: 60%; 
    /* padding-top: 150px;   */
    text-align: center;
    /* border-collapse: collapse; */
    padding-left: 200px;
   }

 #mn{
    color:rgb(129,88,223);
}

.structure{
    width: 100%;
}

.data1{
    width: 40%;
    height: 180px;
    text-align: center;
    padding-left: 20px;
    padding-top: 100px;
    padding-bottom: 5px;
    
}

.data2{
    width: 50%; 
    /* height: 380px; */
    position: absolute;
    left: 700px;
    top: 250px;
    text-align: center;
    justify-content: right;
}

.data3{
    width: 50%; 
    height: 380px;
    position: absolute;
    left: 700px;
    top: 500px;
    text-align: center;
    justify-content: right;



}
#body_main
{
    width: 100%;
}

 h3{
    background-color:rgb(129,88,223);
    height: 45px;
    text-align: center;
}

h4{
    color:black;
}

h1{
    color: rgb(129,88,223);
}

h2{
    background-color: rgb(129,88,223);
}

#color{
    background-color:rgb(129,88,223);
    height: 10px;
}




#home{
    float: right;
    padding-bottom: 50px;
    padding-top: 30px;
    padding-right: 100px;
}



   .cal{
   justify-content: center;
    display: flex;
   }
   
   .maindiv{
    padding-bottom: 100px;
    margin-top: -10%;
    right: 500px;
    height: 500px;
    background-image: url(https://media.istockphoto.com/id/1418049497/vector/historical-icon-vadodara-city-laxmi-vilas-palace-icon-illustration.jpg?s=612x612&w=0&k=20&c=JutIRy_WZGWfIzqP2ivmpovDvgfcd0XVVEW6Tk0ofik=);
   }

   
   
  
  button {
    text-decoration: none;
    border: none;
    background-color: transparent;
  }

  #color1{
    background-color: rgb(129,88,223);
  }

  .tbl{
   height: 20px;
   width: 80%;
   display: block;
   margin: auto;
   padding-right: 150px;
   padding-left: 150px;
   padding-top: 2%;
   text-align: center;
}

.calhd{
    background-color: rgb(129,88,223);
    height: 45px;
    text-align: center;
    width: 100%;
    font-size: large;
    display: flex;
    justify-content: center;
}
  
#footer{
    width: 100%;
    text-align: center;
    padding-top: 53%;
   
}

.footer-img{
    float: inline-start;
    width:10%;
    padding-left: 10px;
    padding-bottom: 40px;
    height: 100px;
    padding-top: 10px;
}

.img-center{
    display: flex;
  justify-content: center;
}

.btn2 {
    position: relative;
    display: inline-block;
    padding: 15px 15px;
    border: 2px solid rgb(129,88,223);
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    transition: 0.3s;
  }
  
  .btn2::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - -2px);
    background-color: white ;
    transition: 0.3s ease-out;
    transform: scaleY(1);
  }
  
  .btn2::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 50px);
    background-color: white;
    transition: 0.3s ease-out;
    transform: scaleY(1);
  }
  
  .btn2:hover::before {
    transform: translateY(-25px);
    height: 0;
  }
  
  .btn2:hover::after {
    transform: scaleX(0);
    transition-delay: 0.15s;
  }
  
  .btn2:hover {
    border: 2px solid black;
  }
  
  .btn2 span {
    position: relative;
    z-index: 3;
  }
  
  